body {
  background-color: $black;
  color: $white;
  height: 100vh;
  background-image: url("/frontend/src/images/space-background.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.center {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}
