header {
  position: relative;
}

.logo {
  padding-bottom: 25%; // save space when loading images, otherwise you see a shift
  @media (min-width: 1500px) {
      padding-bottom: 22%
  }
  img {
    position: absolute;
    top: 0;
    width: 50%;
    height: auto;
    @media (min-width: 1500px) {
      width: 45%;
    }
  }
}

.how-to-use {
  align-items: center;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 12px;

  h3 {
    margin-bottom: 12px;
    border-bottom: 3px solid $yellow;
    color: $yellow;
    font-size: 21px;
    font-weight: 700;

    @media (min-width: 480px) {
      font-size: 50px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    @media (min-width: 480px) {
      font-size: 20px;
    }
    @media (min-width: 1025px) {
      font-size: 25px;
    }
  }
}
