header {
  position: relative;
}

.logo {
  padding-bottom: 25%; // save space when loading images, otherwise you see a shift
  
  img {
    position: absolute;
    top: 0;
    width: 50%;
    height: auto;
  }
}

.how-to-use {
  align-items: center;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 12px;

  h3 {
    margin-bottom: 12px;
    border-bottom: 3px solid $yellow;
    color: $yellow;
    font-size: 50px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    font-weight: 600;
  }
}
