.loading-logo {
  position: relative;
  overflow: hidden; // handles logo spinning
  padding-bottom: 20px;

  img {
    width: 25%;
    height: auto;
    min-width: 125px;
    max-width: 350px;
  }

  .loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $yellow;
    align-items: center;
    font-size: 25px;
    font-weight: 900;

    @media (min-width: 480px) {
      font-size: 35px;
    }
    @media (min-width: 769px) {
      font-size: 55px;
    }
  }
}

.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
