.loading-logo {
  position: relative;
  overflow: hidden; // handles logo spinning

  img {
    width: 20%;
    height: auto;
    max-width: 400px;
  }
  
  .loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $yellow;
    align-items: center;
    font-size: 55px;
    font-weight: 900;
  }
}

.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
